@page
@model razorweb.Pages_Blog.IndexModel

@{
    ViewData["Title"] = "Các bài viết";
    int i=0;
    //Submit form get thì sẽ gử value input len querystring
    // binding vao phuong thuc OnGetAsynce

}


@{
   var pagingmodel= new XTL.Helpers.PagingModel()
   { currentpage=Model.currentPage,
   countpages=Model.countPages,
   generateUrl=(int? p)=>Url.Page("/Blog/Index", new {p=p})

   };

}


 <hr>
<h1>DANH SÁCH BÀI VIẾT</h1>
<form method="get" asp-page="./Index">
<label> Tìm kiếm</label>
<input name="SearchString" value="">
 <button type="submit"> Search</button>
</form>
<hr>
<p>
    <a asp-page="Create" class="btn btn-primary">Tạo bài viết mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Created)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>
                @(++i)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Xem</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr>
<partial name="_PagingXTL" model="@pagingmodel"></partial>
